<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243667826627-rte45916i4btqrprt8dr45g7lvc8iqvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243667826627-rte45916i4btqrprt8dr45g7lvc8iqvj</string>
	<key>API_KEY</key>
	<string>AIzaSyDkpyL0QMu_6vSbHZ9_Pc2uCo4-r6b262w</string>
	<key>GCM_SENDER_ID</key>
	<string>243667826627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.numerology.ios</string>
	<key>PROJECT_ID</key>
	<string>numerology-j5q8vz</string>
	<key>STORAGE_BUCKET</key>
	<string>numerology-j5q8vz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:243667826627:ios:2cf2f6e40ca96bf3aaaf76</string>
</dict>
</plist>
